body {
  background-attachment: fixed;
  background-repeat: initial;
}

textarea {
  background-color: whitesmoke;
  color: darkslategray;
  line-height: normal;
  font-family: "Courier New", Courier, monospace;
}

header h1,
header h2 {
  color: white;
  text-align: center;
  margin-bottom: 0;
}

header nav {
  place-content: center;
}

header nav li,
header nav li a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

header nav li {
  color: lightgray;
  text-decoration: none;
}

main.container {
  background-color: whitesmoke;
  color: darkslategray;
  padding-top: 1rem;
}

main > div {
  padding: 0rem 2rem;
}

#database {
  white-space: nowrap;
}
